<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="8777" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;D:\Program Files\Microsoft Visual Studio\2022\Professional\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:52599/SalesAuto.Api/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArW1MMLH3Xa7NSRE8nOIwhW31O7QnUHvdgbomGLmZuHGcmKbjqeTDESCjaqIvfwe3Nk/ofJ8gU9PPW3LzJD9pl1Urn9EGbyUuBuuqGf1Mpa+W4JNXNPvfU7DhUuTACzkGdmQnIDgPqKeXjLrSwXvV/0E2D44YEkG7i2DQYZgoc4vAxuacOz4BBbX4VJLw4mmPlPOO94EjgIQiM85RTlF4ztSSRqC+wQ+qrDtKr5/ExD2eukJE11iEiH14vE+Cl2UFO/pILeRr0u7xDdcNBcI4w66JS9hoeYLJs7E/Pa+4ipD3ObSdYm0nHoAHmrIcPyjAiKLg81z70PM7q+74prptsQIDAQAB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>